/* Сперва общие правила */

* {
    box-sizing: border-box

}

/* Потом селекторы по тегам */

html {
    font-family: sans-serif;
}

main {
    width: 300px;
    margin: 0px auto;
}

p {
    font-size: 15px;
}

a {

}

/* Колонки */

.row {
    display: flex;
    margin: 20px -10px;
}
.col {
    flex: auto;
    margin: 0px 10px;
}


/* Потом селекторы по классам */

.text-input {
    border: solid 1px #EBDCF9;
    border-radius: 5px;
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 15px;

}

.button {
    width: 60%;
    height: 40px;
    margin-top: 24px;
    border: solid 1px white;
    background-color: #554AF0;
    border-radius: 10px;
    color: white;



}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
    width: 100%;
    height: 45px;
    margin: 10px 0px;
    border-radius: 10px;
    border: solid 1px #EBDCF9;
    padding: 8px 16px;

}


/* Страничка жанров и тегов */

.my-genre{
    margin: 10px 0px;
    padding: 5px 5px;
    border-radius: 5px;
}
.genre-first {

    background-color: aquamarine;
    width: 100%;
}

.genre-second {

    background-color: cornsilk;
    width: 80%;
}

.genre-third {

    background-color: azure;
    width: 60%;

}

.genre-fourth {

    background-color: antiquewhite;
    width: 40%;
}

.tag {

}

/* Страничка популярного */

.cover {
    margin: 10px 10px;
    border-radius: 10px;
}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {
    color: white;
    border-radius: 4px;
    background: #554AF0;
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 15px;
    margin: 0px 10px;
    text-decoration: none;


}
